$clr-icons: #929292;
$clr-text: #323232;
$clr-bg: #FCF3EA;
$clr-white: #FEFEFE;
$clr-blue-100: #76D0DA;
$clr-blue-300: #5D6BFA;
$clr-orenge-200: #FACF5E;
$clr-orenge-300: #FB8600;
$clr-orenge-500: #FD6E42;
$clr-orenge-900: #FD610D;
$clr-black: #24252A;
$clr-slide-shade: rgba(255, 255, 255, 0.6);
$clr-bg-input: #F5F6F8;